[defaults]
inventory = ./inventory.ini
host_key_checking = False
interpreter_python = auto_silent
stdout_callback = default
callback_result_format = yaml
callback_format_pretty = true
retry_files_enabled = False
timeout = 30
forks = 10

[ssh_connection]
pipelining = True
transfer_method = sftp
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
