[kafka_new_brokers]
kafka-broker-3 ansible_host=10.10.10.103 kafka_node_id=3 advertised_ip=10.10.10.103 ansible_user=root ansible_password=CHANGE_ME ansible_ssh_common_args='-o ProxyJump=root@bastion-host'
kafka-broker-4 ansible_host=10.10.10.104 kafka_node_id=4 advertised_ip=10.10.10.104 ansible_user=root ansible_password=CHANGE_ME ansible_ssh_common_args='-o ProxyJump=root@bastion-host'
