#!/usr/bin/env bash
set -euo pipefail

if docker ps -a --format '{% raw %}{{.Names}}{% endraw %}' | grep -qx '{{ kafka_container_name }}'; then
  docker rm -f {{ kafka_container_name }} >/dev/null 2>&1 || true
fi

docker run -d \
  --name {{ kafka_container_name }} \
  --user 1001 \
  --restart {{ kafka_restart_policy_name }} \
  --ulimit nofile={{ kafka_ulimit_nofile }} \
  --memory={{ kafka_memory }} \
  --memory-swap={{ kafka_memory_swap }} \
{% if kafka_publish_jmx_agent_port %}  -p 7071:7071 \
{% endif %}{% if kafka_publish_broker_port %}  -p 9092:9092 \
{% endif %}{% if kafka_publish_controller_port %}  -p 9093:9093 \
{% endif %}{% if kafka_publish_external_ssl_port %}  -p 9094:9094 \
{% endif %}  -v {{ kafka_data_dir }}:/bitnami/kafka/data:rw \
  -v {{ kafka_client_conf_host_path }}:/etc/kafka_client.conf:rw \
  -v {{ kafka_jaas_conf_host_path }}:/opt/bitnami/kafka/config/kafka_jaas.conf:rw \
  -v {{ kafka_tls_remote_dir }}/kafka.keystore.jks:/opt/bitnami/kafka/config/certs/kafka.keystore.jks:ro \
  -v {{ kafka_tls_remote_dir }}/kafka.truststore.jks:/opt/bitnami/kafka/config/certs/kafka.truststore.jks:ro \
  -e KAFKA_CFG_PROCESS_ROLES='{{ kafka_process_roles }}' \
  -e KAFKA_CFG_CONTROLLER_LISTENER_NAMES='{{ kafka_controller_listener_names }}' \
  -e KAFKA_CFG_INTER_BROKER_LISTENER_NAME='{{ kafka_inter_broker_listener_name }}' \
  -e KAFKA_CFG_BROKER_ID='{{ kafka_node_id }}' \
  -e KAFKA_CFG_NODE_ID='{{ kafka_node_id }}' \
  -e KAFKA_KRAFT_CLUSTER_ID='{{ kafka_cluster_id }}' \
  -e KAFKA_CFG_LISTENERS='{{ kafka_listeners }}' \
  -e KAFKA_CFG_ADVERTISED_LISTENERS='BROKER://{{ advertised_ip | default(ansible_host) }}:9092,EXTERNAL://{{ advertised_ip | default(ansible_host) }}:9094' \
  -e KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP='{{ kafka_listener_security_protocol_map }}' \
  -e KAFKA_CFG_CONTROLLER_QUORUM_VOTERS='{{ kafka_controller_quorum_voters }}' \
  -e KAFKA_CFG_SASL_ENABLED_MECHANISMS='{{ kafka_sasl_enabled_mechanisms }}' \
  -e KAFKA_CFG_SASL_MECHANISM_INTER_BROKER_PROTOCOL='{{ kafka_sasl_mechanism_inter_broker_protocol }}' \
  -e KAFKA_CFG_SUPER_USERS='{{ kafka_super_users }}' \
  -e KAFKA_OPTS='{{ kafka_opts }}' \
  -e JMX_PORT='{{ kafka_jmx_port }}' \
  -e EXTRA_ARGS='{{ kafka_extra_args }}' \
  -e KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE='{{ kafka_auto_create_topics_enable }}' \
  -e KAFKA_CFG_DEFAULT_REPLICATION_FACTOR='{{ kafka_default_replication_factor }}' \
  -e KAFKA_CFG_MIN_INSYNC_REPLICAS='{{ kafka_min_insync_replicas }}' \
  -e KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR='{{ kafka_offsets_topic_replication_factor }}' \
  -e KAFKA_CFG_TRANSACTION_STATE_LOG_REPLICATION_FACTOR='{{ kafka_txn_state_log_replication_factor }}' \
  -e KAFKA_CFG_TRANSACTION_STATE_LOG_MIN_ISR='{{ kafka_txn_state_log_min_isr }}' \
  -e KAFKA_TLS_TYPE='{{ kafka_tls_type }}' \
  -e KAFKA_CERTIFICATE_PASSWORD='{{ kafka_tls_store_password }}' \
  -e KAFKA_TLS_CLIENT_AUTH='{{ kafka_tls_client_auth }}' \
  {{ kafka_image }}
